extends layout

block content
    div(class="preloader" style="background: #000;")
        div(class="cssload-loader")
            div(class="cssload-inner cssload-one")
            div(class="cssload-inner cssload-two")
            div(class="cssload-inner cssload-three")
    div(class="container")
    script(src="/js/main.js" type="text/javascript")