doctype html
html
    head
        meta(name="description" content="Путешествие по солнечной системе")
        meta(name="keywords" content="HTML,CSS,JavaScript")
        meta(name="author" content="Алексей Яриков")
        meta(name="viewport" content="width=device-width,maximum-scale=1.0")
        title(id="title")= title
        link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
        link(rel='stylesheet', href='/css/main.css')
        script(src="/socket.io/socket.io.js")
    body
        block content
